@media (max-width: 1100px) {
  .container {
    padding: 0 31px;
  }
  .header {
    padding: 0;
    padding-top: 23px;
    padding-bottom: 21px;
  }
  .header__list {
    gap: 50px;
  }
  .header__logo {
    margin-right: 60px;
  }
  .header__img {
    width: 165px;
    height: 28px;
  }
  .header__list {
    padding: 0 20px;
    gap: 33px;
  }
  .hero {
    padding-top: 34px;
  }
  .hero__base {
    padding: 54px 32px 30.3px 30px;
    background-image: url("../img/hero-back-1024.jpg");
  }
  .hero__title {
    margin-bottom: 21.8px;
    font-size: 34px;
    line-height: 34.04px;
  }
  .hero__title-small {
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 25px;
  }
  .hero__descr {
    margin-bottom: 8.5px;
  }
  .hero__btn {
    padding: 15.5px 23px 15.5px 22px;
  }
  .catalog__img-1 {
    min-height: 333px;
    max-height: 370px;
    background-image: url("../img/example-1-1024.jpg");
  }
  .catalog__img-2, .catalog__img-3 {
    min-height: 186px;
    max-height: 200px;
    height: 100%;
  }
  .catalog__img-2 {
    background-image: url("../img/example-2-1024.jpg");
  }
  .about {
    padding-bottom: 81px;
  }
  .about__form {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .about__content {
    gap: 31px;
  }
  .about__callback {
    max-width: 465px;
  }
  .about__callback-title {
    margin-bottom: 15px;
  }
  .about__img {
    min-height: 332px;
    background-image: url("../img/photoCamera-1024.jpg");
    background-size: cover;
  }
  .about__input {
    padding: 19px 0 16px 23px;
    min-width: 341px;
    max-width: 351px;
  }
  .projects__content {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 307px);
    grid-auto-flow: dense;
  }
  .event-small {
    padding-top: 202px;
    background-size: 100% 65%;
  }
  .event__descr {
    margin-bottom: auto;
    width: 200px;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .event-1 {
    grid-column: 1/3;
    background-image: url("../img/pjct-1-1024.jpg");
  }
  .event-2 {
    grid-column: 3/5;
    background-image: url("../img/pjct-2-1024.jpg");
  }
  .event-3 {
    grid-column: 5/9;
    background-image: url("../img/pjct-3-1024.jpg");
  }
  .event-3 .event__descr {
    max-width: 450px;
    width: 100%;
  }
  .event-4 {
    grid-column: 6/9;
    background-image: url("../img/pjct-4-1024.jpg");
  }
  .event-5 {
    grid-column: 1/4;
    background-image: url("../img/pjct-5-1024.jpg");
  }
  .event-4, .event-5 {
    background-size: 100% 60%;
  }
  .event-4 .event__descr, .event-5 .event__descr {
    max-width: 345px;
    width: 100%;
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .event-big-1 {
    grid-column: 1/6;
    background-image: url("../img/pjct-big-1-1024.jpg");
  }
  .event-big-2 {
    grid-column: 4/9;
    background-image: url("../img/pjct-big-2-1024.jpg");
  }
  .event-big {
    padding-top: 34px;
  }
  .projects__content {
    row-gap: 24px;
    grid-template-rows: 285px 307px 307px;
  }
  .contacts {
    padding-bottom: 67.7px;
  }
  .contacts__left {
    display: flex;
    grid-column: 1/6;
    background-image: url("../img/map-1024.jpg");
  }
  .contacts__content {
    grid-template-columns: repeat(8, 1fr);
    gap: 31px;
  }
  .contacts__location {
    top: 95px;
    right: 94px;
  }
  .callback {
    padding-left: 0;
    grid-column: 6/9;
  }
  .callback__text {
    width: 364px;
  }
  .adress {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding: 25px 0 21px 30px;
    height: 34%;
    width: 100%;
  }
  .adress__text {
    width: 297px;
  }
  .adress__phone {
    padding-left: 20px;
    display: block;
    position: absolute;
    bottom: 24px;
    left: 180px;
  }
  .footer {
    padding-top: 27px;
  }
  .footer__img {
    width: 167.25px;
  }
  .footer__link {
    margin-right: 123px;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0 27px;
  }
  .header {
    padding: 22px 0 0 0;
  }
  .header__container {
    padding: 0;
  }
  .header__nav {
    flex-wrap: wrap;
  }
  .header__logo {
    margin-right: auto;
    padding-left: 28px;
    padding-top: 4px;
    padding-bottom: 21px;
    order: 1;
  }
  .header__list {
    padding: 12px 28px 12px 27px;
    justify-content: space-between;
    order: 3;
    width: 100%;
    background-color: #4a4a4a;
  }
  .header__btn {
    order: 2;
    padding-right: 27px;
    padding-bottom: 21px;
  }
  .hero__title-small {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 23px;
  }
  .hero__title {
    font-size: 34px;
    line-height: 31.04px;
  }
  .hero__base {
    padding: 54px 32px 29.3px 28px;
    background-image: url("../img/hero-back-768.jpg");
  }
  .hero__btn {
    padding: 15.5px 23px 15.5px 24px;
  }
  .hero__descr {
    margin-bottom: 14.5px;
  }
  .catalog__img-1 {
    min-height: 228px;
    background-image: url("../img/example-1-768.jpg");
  }
  .catalog__img-2, .catalog__img-3 {
    min-height: 133px;
  }
  .tag {
    top: 17px;
  }
  .about {
    padding-bottom: 62px;
  }
  .about__content {
    gap: 30px;
  }
  .about__img {
    min-height: unset;
  }
  .projects__content {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 302px 23px 300px 30px 309px 22px 300px;
    grid-template-areas: "prjct1 prjct1 prjct2 prjct2 prjct3 prjct3" "filler1 filler1 filler1 filler1 filler1 filler1" "prjctBig1 prjctBig1 prjctBig1 prjctBig1 prjctBig1 prjctBig1" "filler2 filler2 filler2 filler2 filler2 filler2" "prjct4 prjct4 prjct4 prjct5 prjct5 prjct5" "filler3 filler3 filler3 filler3 filler3 filler3" "prjctBig2 prjctBig2 prjctBig2 prjctBig2 prjctBig2 prjctBig2";
    row-gap: unset;
  }
  .event__descr {
    -webkit-line-clamp: 3;
    height: 63px;
  }
  .event__small {
    background-size: 100% 61%;
  }
  .event-1 {
    grid-column: 1/3;
    background-image: url("../img/pjct-1-768.jpg");
    grid-area: prjct1;
    background-size: 100% 60%;
  }
  .event-1 .event__descr {
    max-width: 214px;
    width: 100%;
  }
  .event-2 {
    grid-column: 3/5;
    background-image: url("../img/pjct-2-768.jpg");
    grid-area: prjct2;
    background-size: 100% 65%;
  }
  .event-3 {
    grid-column: 5/7;
    background-image: url("../img/pjct-3-768.jpg");
    grid-area: prjct3;
  }
  .event-3 .event__descr {
    max-width: 265px;
    width: 100%;
    height: 46px;
    -webkit-line-clamp: 2;
  }
  .event-4 {
    grid-column: 1/4;
    background-image: url("../img/pjct-4-768.jpg");
    grid-area: prjct4;
  }
  .event-5 {
    grid-column: 4/7;
    background-image: url("../img/pjct-5-768.jpg");
    grid-area: prjct5;
  }
  .event-big {
    padding: 35px 30px 31px 29px;
    grid-column: 1/7;
  }
  .event-big-1 {
    grid-area: prjctBig1;
    background-image: url("../img/pjct-big-1-768.jpg");
  }
  .event-big-2 {
    grid-area: prjctBig2;
    padding: 34px 30px 30px 29px;
    background-image: url("../img/pjct-big-2-768.jpg");
  }
  .event__tag {
    top: 7px;
  }
  .event__link {
    padding: 12.5px 21px 11.5px 20px;
  }
  .about__img {
    min-height: 75%;
    background-image: url("../img/photoCamera-768.jpg");
  }
  .about__input {
    min-width: 200px;
    width: 100%;
    max-width: 350px;
  }
  .contacts {
    padding-bottom: 66.7px;
  }
  .contacts__content {
    grid-template-columns: repeat(6, 1fr);
  }
  .contacts__left {
    grid-column: 1/7;
    background-image: url("../img/map-768.jpg");
  }
  .contacts__location {
    top: 95px;
    right: 218px;
  }
  .adress__text {
    margin-bottom: 4px;
    width: 408px;
  }
  .adress__phone {
    position: unset;
    padding-left: 22px;
  }
  .callback {
    grid-column: 1/5;
  }
  .callback__text {
    width: 443px;
  }
  .footer {
    padding-top: 26px;
  }
  .footer__text {
    display: none;
  }
  .footer__img {
    margin-bottom: 4px;
  }
  .footer__descr {
    margin-bottom: 9px;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 17px 0 0 0;
  }
  .header .container {
    padding: 0;
  }
  .header__item {
    display: none;
  }
  .header__item-burger {
    display: block;
  }
  .header__list {
    padding: 14px 21px 13px 21px;
  }
  .header__burger {
    display: block;
    width: 20px;
    height: 18px;
    background-image: url("../img/burger.svg");
  }
  .header__logo {
    padding-left: 21px;
    padding-bottom: 16px;
  }
  .header__img {
    width: 111px;
  }
  .header__svg {
    width: 20px;
    height: 20px;
  }
  .header__btn {
    padding-right: 21px;
    padding-bottom: 15px;
  }
  .container {
    padding: 0 21px;
  }
  .hero {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .hero__content {
    grid-template-columns: 1fr;
    gap: 34px;
  }
  .hero__base {
    padding-bottom: 30.3px;
    padding-top: 234px;
    background-image: url("../img/hero-back-320.jpg");
  }
  .hero__title {
    margin-bottom: 13.8px;
    font-size: 24px;
    line-height: 26.04px;
  }
  .hero__title-small {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 19px;
  }
  .hero__descr {
    margin-bottom: 7.5px;
    font-size: 14px;
  }
  .hero__btn {
    margin-left: 2px;
    padding: 12px 23px 11px 22px;
    font-size: 14px;
  }
  .catalog__img-1 {
    min-height: 186px;
  }
  .catalog__img-2, .catalog__img-3 {
    min-height: 105px;
  }
  .tag {
    padding: 3px 7px;
    top: 7px;
    right: 6px;
    font-size: 12px;
  }
  .about {
    padding-top: 35px;
    padding-bottom: 60px;
  }
  .about__content {
    grid-template-columns: 1fr;
    gap: 22px;
  }
  .about__img {
    margin-bottom: 26px;
    min-height: 278px;
    height: unset;
    background-image: url("../img/photoCamera-320.jpg");
  }
  .about__title {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 18.96px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 25px;
  }
  .about__callback {
    max-width: 100%;
  }
  .about__callback-title {
    margin-bottom: 14px;
    font-size: 18px;
  }
  .about__input {
    min-width: 100%;
    padding: 13px 15px 12px 23px;
  }
  .about__input::-moz-placeholder {
    font-size: 14px;
  }
  .about__input::placeholder {
    font-size: 14px;
  }
  .about__btn {
    padding: 11.5px 22px 9.5px 22px;
    font-size: 14px;
  }
  .projects {
    padding-top: 50px;
    padding-bottom: 16px;
  }
  .projects__content {
    grid-template-columns: 100%;
    grid-template-areas: "prjct1" "filler1" "prjct2" "filler2" "prjct3" "filler3" "prjctBig1" "filler4" "prjct4" "filler5" "prjct5" "filler6" "prjctBig2";
    grid-template-rows: 307px 18px 283px 20px 285px 16px 422px 26px 307px 18px 307px 18px 422px;
  }
  .projects__title {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .event__descr {
    width: 279px;
    -webkit-line-clamp: 3;
  }
  .event-1 {
    grid-column: 1/2;
    background-image: url("../img/pjct-1-320.jpg");
  }
  .event-2 {
    grid-column: unset;
    background-image: url("../img/pjct-2-320.jpg");
  }
  .event-2 .event__descr {
    -webkit-line-clamp: 2;
  }
  .event-3 {
    grid-column: unset;
    background-image: url("../img/pjct-3-320.jpg");
  }
  .event-3 .event__descr {
    width: 276px;
    -webkit-line-clamp: 2;
  }
  .event-4 {
    grid-column: unset;
    background-image: url("../img/pjct-4-320.jpg");
  }
  .event-5 {
    grid-column: unset;
    background-image: url("../img/pjct-5-320.jpg");
  }
  .event-big-1 {
    padding: 30px;
    grid-column: unset;
    background-image: url("../img/pjct-big-1-320.jpg");
  }
  .event-big-2 {
    grid-column: unset;
    background-image: url("../img/pjct-big-2-320.jpg");
  }
  .event-big-2 .event__text {
    margin-bottom: 21px;
  }
  .event-big-2 .event__link {
    padding: 8.5px 19px 8.5px 19px;
  }
  .event-big {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .event__tag {
    padding: 4px 15px;
    top: 5px;
    right: 4px;
  }
  .event__link {
    padding: 8.5px 19px 8.5px 18px;
    margin-top: unset;
    font-size: 14px;
  }
  .event__text {
    margin-bottom: 15px;
    width: 217px;
    font-size: 14px;
    line-height: 18px;
  }
  .event__title {
    margin-bottom: 10px;
  }
  .event__date {
    margin-bottom: 5px;
  }
  .event-4 .event__descr, .event-5 .event__descr {
    width: 296px;
  }
  .contacts {
    padding-top: 15px;
    padding-bottom: 49.7px;
  }
  .contacts__title {
    padding: 0 20px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .contacts__container {
    padding: 0;
  }
  .contacts__content {
    grid-template-rows: 473px;
    grid-template-columns: 100%;
    gap: 23px;
  }
  .contacts__left {
    grid-column: unset;
    background-image: url("../img/map-320.svg");
  }
  .contacts__location {
    top: 96px;
    right: 45px;
  }
  .callback {
    grid-column: unset;
    padding: 0 21px;
  }
  .callback__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .callback__text {
    margin-bottom: 15px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  .callback__input {
    padding: 13px 18px 12px 23px;
  }
  .callback__input::-moz-placeholder {
    font-size: 14px;
  }
  .callback__input::placeholder {
    font-size: 14px;
  }
  .callback__btn {
    padding: 11.5px 22px 9.5px 22px;
    font-size: 14px;
  }
  .callback__textarea {
    height: 150px;
  }
  .adress {
    padding: 25px 0 21px 19px;
    height: 33.3%;
  }
  .adress__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .adress__text {
    margin-bottom: 10px;
    width: 267px;
    font-size: 14px;
    line-height: 19px;
  }
  .adress__phone {
    padding-left: 19px;
    font-size: 14px;
  }
  .footer {
    padding-top: 33px;
    padding-bottom: 0;
  }
  .footer__link {
    padding: 14px 0 11px 0;
    margin-right: unset;
    width: 100%;
    order: 1;
    align-items: center;
    background-color: #4a4a4a;
  }
  .footer__container {
    padding: 0;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .footer__social {
    order: 0;
    margin-left: unset;
  }
  .footer__img {
    margin-bottom: 1px;
    height: 18.7px;
    width: 111px;
  }
  .footer__span {
    font-size: 10px;
  }
}/*# sourceMappingURL=media.css.map */